@font-face{
    font-family: MarkPro;
    src: url(FontFont_FF.Mark.Pro.Black.otf);
}
@font-face{
    font-family: MarkPro2;
    src: url(FontFont_FF.Mark.Pro.otf)
}
@font-face{
    font-family: League;
    src:url(Friz_Quadrata_Bold.otf)
}
@font-face{
    font-family: Val;
    src: url(valorant_font.ttf);
}
@font-face{
    font-family: Dota;
    src: url(dota_font.ttf)
}
@font-face{
    font-family: cs;
    src: url(cs_regular.ttf);
}
body{
    display:flex;
    justify-content:center;
    margin: 0;
}

.page{
    width:100%;
    height: 100%;
    background: linear-gradient(to bottom, #111111, #302b63, #111111);
    z-index: 0;
    display: flex;
    flex-direction: column;
}
.firstline{
    margin-top: 10px;
    height : 60px;
    display:flex;
    flex-direction: row;
    z-index: 1;
}
.the_icon{
    margin-left: 50px;
}
.the_name{
    margin-left:50px;
    font-size: 50px;
    display: flex;
    align-items: center;
    font-family: MarkPro;
    color:#c4b998;
}
.icon{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}
.gamesname{
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: #c4b998;
}
.info{
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: MarkPro2;
    font-size: 25px;
    color: #c4b998;
}
.teaser{
    margin-right: 200px;
    margin-left: 200px;
    margin-bottom: 50px;
    display:flex;
    justify-content: center;
    align-items: center;

}
.credit_line{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 50px;
    background-color: #111111;
    border-top:2px black;
    color: white;
    font-family: MarkPro;
    font-size: 25px;
}
.icon1 img{
    transition: transform .2s;
    border-radius: 50%;
}
.icon1 img:hover{
    transform: scale(1.1);
}
.icon1{
    display: flex;
    align-items: center;
    justify-content: center;
}