@font-face{
    font-family: MarkPro;
    src: url(../Fonts/FontFont_FF.Mark.Pro.Black.otf);
}
body{
    display:flex;
    justify-content:center;
    align-items: center;
    align-content: center;
    margin: 0;
    flex-wrap: wrap;
}
.page{
    width: 100%;
    height: auto;
    background: linear-gradient(to bottom, #111111, #302b63, #111111);
    z-index: 0;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
}
.firstline{
    height : 60px;
    display:flex;
    flex-direction: row;
    z-index: 1;
    background-color: rgb(32,32,32);
}
.the_icon{
    margin-left: 50px;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.the_name{
    margin-left:30px;
    font-size: 40px;
    display: flex;
    align-items: center;
    font-family: MarkPro;
    color: #c4b998;
}
.menu {
    display: block;
    margin: 0;
    position: relative;
    width: auto;
  }
  
.menu > .list > a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: MarkPro;
    color: #c4b998;
    font-size: 25px;
  }
  
.menu .dropdown {
    background: rgb(32,32,32);
    height: auto;
    left: auto;
    opacity: 0;
    position: absolute;
    transition: all .2s ease;
    width: 200%;
    margin-bottom: 10px;
    margin-top: 9px;
  }
  
.menu .list:hover .dropdown {
    height: auto;
    opacity: 1;
    transform: translateY(0);
  }
  
.menu .dropdown a {
    color: #c4b998 ;
    display: block;
    font-size: 25px;
    font-family: MarkPro;
    margin-top: 2px;

  }
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: 25px;
    width: 75%;
}
.idk{
    font-family: MarkPro;
    margin-left: 30px;
    color:  #c4b998; 
  }
.navbar a{
      text-decoration: none;    
      padding-left: 5px;
}
.content{
  display:flex;
  flex-direction:row;
}
.c1{
  display:flex;
  flex-direction: column;
  margin: 50px 0 100px 100px;
  width:1280px;
  border-radius: 15%;
}
.slideshow-container{
  background-size:cover;
  height:720px;
  position: relative;
  margin: auto;
  width:inherit;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #c4b998;
  font-size: 30px;
  font-family: MarkPro;
  position: absolute;
  bottom:0;
  width: 100%;
  text-align: center;
  background-color: #111111;
  opacity: 0.5;
  right:0 ;
  left:0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
.big{
  display: flex;
  flex-direction: row;
  margin:50px 0 0 0;
  height:360px;
  justify-content: space-between;

}
.h_news{
  background-color: palegreen;
  width:600px;
  border-radius: 3%;
}
.c2{
  margin:0 100px 0 100px;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  width:300px;
}
.v_news{
  height:300px;
  background-color: tomato;
  margin-top:50px;
  border-radius: 3%;
}
.news_row{
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}
.news_image{
  width:200px;
  background-color: palegreen;
  margin-top:25px;
  height:200px;
  border-radius: 3%;
}
.news_info{
  width:500px;
  background-color: aquamarine;
  margin-left: 25px;
  margin-top:25px;
  height:200px;
  border-radius: 3%;
}
.credit_line{
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height: 50px;
  background-color: #111111;
  border-top:2px rgba(51, 51, 51,25);
  color: white;
  font-family: MarkPro;
  font-size: 25px;
}


